.App {
  height: 100%;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container{
  max-height: 75%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header .user-information {
  text-align: left;
}

.header .user-information h1 {
  margin: 0;
  font-size: 1.8rem;
}

.header .user-information p {
  margin: 5px 0;
  font-size: 1rem;
  color: #bbbbbb;
}

.header .user-information p a {
  color: #1DB954;
  text-decoration: none;
  font-weight: bold;
}

.header .user-information p a:hover {
  color: #1ed760;
  text-decoration: underline;
}

.spotify-btn {
  margin-left: auto;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.artist-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.artist-actions input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.action-btn {
  background-color: #1DB954;
  color: black;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.action-btn:hover {
  background-color: #1ed760;
}

.action-btn.delete-btn {
  background-color: #d9534f;
}

.action-btn.delete-btn:hover {
  background-color: #c9302c;
}

.user-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #333;
  color: white;
  border: 1px solid #444;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.user-details th,
.user-details td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #444;
}

.user-details th {
  background-color: #1DB954;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.user-details tbody tr:nth-child(even) {
  background-color: #2c2f33;
}

.user-details tbody tr:hover {
  background-color: #1ed760;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-details td {
  font-size: 14px;
}

.user-details table caption {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #bbbbbb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
